h1{
    color:#6E6E6E;
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align-last: center;
}

h2{
    color: grey;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: right;
}

h3{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

p{
    font-weight: 700;
    text-decoration: line-through;
}

table{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-width: 2px;
    border-style: solid;
    border-color:rgb(0, 153, 255);
    background-color: rgb(0, 238, 255);
    color: darkblue;

}

th{
    font-weight: 700;
    color: rgb(0, 130, 252);
}